*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    width: 100%;
    height: 100%;
    font-family: 'Whitney', -apple-system, BlinkMacSystemFont, 'Segoe UI' , sans-serif;
}

a { text-decoration: none;}

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    outline: none;
    appearance: none;
    background: transparent;
    font-family: "Whitney", sans-serif;
}

li {
    list-style: none;
}

/* UTILITIES */
.bg-white { background-color: #FFFFFF; }
.bg-purple { background-color: #5865f2; }
.bg-light-dark { background-color: #23272A; }
.bg-light-gray { background-color: #F6F6F6; }

.cr-white { color: #FFFFFF; }
.cr-purple { color: #5865f2; }
.cr-light-black { color: #23272A; }

.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }

.w-15 { width: 15%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-50 { width: 50%; }
.w-80 { width: 80%; }
.w-100 { width: 100%; }

.w-24 { width: 24px; }
.h-24 { height: 24px; }

.m-8 { margin: 8px; }

.mr-8 { margin-right: 8px; }
.mr-32 { margin-right: 32px; }

.mb-8 { margin-bottom: 8px; }
.mb-16 { margin-bottom: 16px; }
.mb-32 { margin-bottom: 32px; }
.mb-48 { margin-bottom: 48px; }

.p-8 { padding: 8px; }
.p-48 { padding: 48px; }
.p-96 { padding: 96px; }

.pt-48 { padding-top: 48px; }

.pb-16 { padding-bottom: 16px; }
.pb-32 { padding-bottom: 32px; }

.pt-96 { padding-top: 96px; }
.pl-96 { padding-left: 96px; }
.pr-96 { padding-right: 96px; }
.pb-96 { padding-bottom: 96px; }

.px-16 { padding: 0 16px; }
.bdb-1 { border-bottom: 1.5px solid #5865f2; }

.fsz-14 { font-size: 14px; line-height: 20px; }
.fsz-16 { font-size: 16px; line-height: 24px; }
.fsz-20 { font-size: 20px; line-height: 28px; }
.fsz-32 { font-size: 32px; line-height: 40px; }
.fsz-48 { font-size: 48px; line-height: 1; }

.va-m { vertical-align: middle; }

.lh-48 { line-height: 48px; }
.lh-72 { line-height: 72px; }

.mx-auto { margin: 0 auto; }

.ta-l { text-align: left; }
.ta-r { text-align: right; }
.ta-c { text-align: center; }

.block { display: block; }
.inline-block { display: inline-block; }

.fl { float: left; }
.clearfix::after { clear: both; content: ''; display: table; }
.inline-middle { vertical-align: middle; display: inline-block; }

.btn-big { padding: 16px 32px; }
.btn-small { padding: 8px 16px; }
.btn { text-align: center; display: inline-block; border-radius: 9999px; vertical-align: middle; }

/* HERO BACKGROUND */
body > section:first-child {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url(../img/jumbo.png);
}