*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    width: 100%;
    height: 100%;
    font-family: 'Whitney', -apple-system, BlinkMacSystemFont, 'Segoe UI' , sans-serif;
}

a { text-decoration: none;}

img { display: block !important; max-width: 100% !important; }

button {
    border: none;
    outline: none;
    appearance: none;
    background: transparent;
    font-family: "Whitney", sans-serif;
}

li {
    list-style: none;
}

/* main styles */
.xfx-h-480 { height: 30rem !important; }
.xfx-button-white { border-radius: 9999px; background-color: #fff; }
.xfx-mr-8 { margin-right: 0.5rem !important; }
.xfx-object-fit img { object-fit: contain !important; width: 100%; height: calc((9 / 16) * 100%); }
.xfx-centered { position: absolute !important; top: 0; left: 50% !important; transform: translate(-50%) !important; }
.xfx-hero-background { background-size: cover; background-repeat: no-repeat; background-position: top left; background-image: url(../img/jumbo.png); }

/* colors */
.xfx-clr-black { color: #23272a; }