*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    width: 100%;
    height: 100%;
    font-family: 'Whitney', -apple-system, BlinkMacSystemFont, 'Segoe UI' , sans-serif;
}

a { text-decoration: none !important; color: inherit !important;}

img { display: block !important; max-width: 100% !important; }

button {
    border: none;
    outline: none;
    appearance: none;
    background: transparent;
    font-family: "Whitney", sans-serif;
}

li {
    list-style: none;
}

/* main styles */
.xfx-h-512 { height: 32rem !important; }
.xfx-p-56 { padding: 5.5rem !important;}
.xfx-h-72 { height: 4.5rem; }
.xfx-h-max-content { height: max-content !important; }
.xfx-button-large { padding: 0.5rem 1rem; }
.xfx-button-extralarge { padding: 1rem 1.5rem; }
.xfx-button-white { border-radius: 9999px; background-color: #fff; }
.xfx-button-black { border-radius: 9999px; background-color: #23272a; }
.xfx-button-purple { border-radius: 9999px; background-color: #8ea1e1; }
.xfx-h2 { font-weight: 700 !important; font-size: 3rem !important; line-height: 3.5rem !important; }
.xfx-h4 { font-weight: 700 !important; font-size: 2rem !important; line-height: 2.25rem !important; }

.xfx-mr-8 { margin-right: 0.5rem !important; }
.xfx-mr-16 { margin-right: 1rem !important; }
.xfx-object-fit img { object-fit: cover !important; width: 100%;height: calc((9 / 16) * 100%); }
.xfx-centered { position: absolute !important; top: 0; left: 50% !important; transform: translate(-50%) !important; }
.xfx-hero-background { background-size: cover; background-repeat: no-repeat; background-position: top left; background-image: url(../img/jumbo.png); }

.xfx-title-display { font-size: 3rem !important; }
.xfx-fsz-16 { font-size: 1rem; line-height: 1.5rem; }
.xfx-fsz-18 { font-size: 1.125rem; line-height: 1.5rem; }
/* colors */
.xfx-clr-white { color: #ffffff !important; }
.xfx-clr-black { color: #23272a !important; }
.xfx-clr-purple { color: #7289da !important; }

.xfx-bg-white { background-color: #ffffff !important; }
.xfx-bg-black { background-color: #23272a !important; }
.xfx-bg-lighgray { background-color: #f6f6f6 !important; }
.xfx-bg-purple { background-color: #7289da !important; }

.xfx-bg-star { bottom: calc(100% - 1rem ); }
.xfx-hr { border: 0; border-top: 1px solid #7289da; }
.xfx-icon-24 { height: 24px; height: 24px; display: flex; align-items: center; justify-content: center; flex-shrink: 0; }